extends base
block head
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css')
block content
    .article
        .article__heading
            img.article__image.can-open(src='/static/me.jpg', alt='Picture of Severi Salminen')
            .article__info
                h1.title= article.title
                .tags
                    each tag in article.tags
                        .tag #{tag}
                div.details By #[div.author #{article.first_name} #{article.last_name}] on #[div.time #{article.datetime}]

        .article__content
            != article.content

    .border
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js')
